.explore
{
	height: 38em;
	overflow-y: auto;
	padding-right: 15px;
	padding-top: 10px;
	padding-left: 3px;	
}

.search-bar 
{
    margin-top: 14%;
    margin-left: 25%;
}


#search
{
	color: #d07c80;
    cursor: default;
}

a.link
{
    text-decoration: none;
    color: #333;
}

a.link:hover
{
    color:#dbdbdc; 
}

.search-usrs
{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    box-shadow: 1px 1px 7px 0px #7d7d7dde;
    cursor: default;
}
