

.challenge-initializer
{
	height: 200px;
	width: 125px;
	padding-left: 29%;
	padding-top: 55%;
	margin-top: 125%;
}

.challenges
{
    padding-bottom: 20px;
    margin-left: 5%;
    margin-bottom: 5%;
}

.post
{
	height: 500px;
    margin-bottom: 5%;
}

.filter
{
	height: 38em;
	overflow-y: auto;
	padding-right: 15px;
	padding-top: 10px;
	padding-left: 3px;
}

#avatar
{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    cursor: pointer;
}

#header .username
{
    background: white;
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px;
    font-size: medium;
    font-family: cursive;
    color: #6e6e6e;
    margin-left: 13%;
    margin-top: -13%;
    box-shadow: 0px 0px 20px #eaeaea;
    cursor: default;
}

.username
{
    background: white;
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px;
    font-size: medium;
    font-family: cursive;
    color: #6e6e6e;
    margin-left: 17%;
    margin-top: -15%;
    box-shadow: 0px 0px 20px #eaeaea;
    cursor: default;
}

.photo
{
    background: white;
    height: 345px;
    margin-top: 7%;
}

#post .photo
{
    background: white;
    height: 400px;
    margin-top: 7%;
}

#photo
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #d8d5d5;
}

.lit
{
    background: #ffffff;
    margin-top: 65%;
    padding-left: 25%;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #d8d5d5;
    cursor: default;
}

#litt
{
    background: #ffffff;
    width: 150px;
    margin-left: 4%;
    margin-top: 65%;
    padding-left: 33.3%;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #d8d5d5;
    cursor: default;
}

.lit-btn
{
    transform: scale(1.5);
    padding: 10px;
    padding-top: 15px;
    color: #c6c6c6;
    cursor: pointer;
}

.lit-btn-active
{
    color: rgba(255, 106, 0, 1);
    transform: scale(1.5);
    padding: 10px;
    padding-top: 15px;
    cursor: pointer;
}


#lit-count
{
	font-family: cursive;
	font-size: small;
}

.setting
{
    margin-top: 14%;
    margin-left: 25%;
    color: #dbdbdc;
    cursor: default;
}

.h6
{
    margin-left: 5%;
    color: #6e6e6e;
    font-size: small;
    font-family: cursive;
}

.flying
{
 float: right;
 transform: scale(1.5);
 padding-right: 5px;
 padding-top: 3px;
 color: #33da15;
 cursor: default;
}

.fly
{
 float: right;
 transform: scale(1.5);
 padding-right: 5px;
 padding-top: 3px;
 color: #c6c6c6;
 cursor: pointer;
}
