

body,html{
    margin:0;
    padding:0;
	height:100%;
  }

body
{
  background-image: url("bg.png");
  background-color: #cccccc;
  height: 97.8%; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

  #brand
  {
    height: 90px;
    width: 130px;
  }

  .box
  {
    height:100%;
    width:100%;
  }

.form-card 
{
    height: 345px;
    width: 300px;
    background-color: #ff9025;
    float: right;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 50px;
    box-shadow: 0px 0px 150px 5px #ff872c;
}

.i
{
  color: #ffffff;
}

nav
{
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 78px;
}

input[type="email"], input[type="password"], input[type="text"]
{
    border-radius: 10px;
    width: 245px;
    background: #fff;
    outline-style: none;
    border-style: none;
    padding-left: 15px;
    font-family: sans-serif;
    font-family: small;
    margin-bottom: 30px;
    margin-left: 5%;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus
{
    box-shadow: 0px 0px 6px 0px #858586;

}

::placeholder
{
    color: #636464;
}


#login-bn
{
    padding: 5px;
    width: 60px;
    margin-left: 33%;
    font-family: cursive;
    border-radius: 10px;
}

#a
{
  color: #eb830b;
  text-decoration: none;
}

#forgotten
{
    font-size: small;
    font-family: sans-serif;
    cursor: pointer;
    text-decoration: none;
    margin-left: 6%;
}


#register-bn
{
    padding: 5px;
    width: 70px;
    margin-left: 65%;
    margin-top: -15px;
    font-family: cursive;
    border-radius: 10px;
}

button
{
    color: #eb830b;
    text-decoration: none;
    border-style: none;
    background: white;
    padding: 5px;
    width: 70px;
    margin-left: 65%;
    margin-top: -15px;
    font-family: cursive;
    border-radius: 10px;
}

.descript {
    padding-top: 5em;
    color: white;
    font-family: sans-serif;
    font-style: bold;
}
